<div class="background">
  <% @page.each do |f| %>
    <div class="col-sm-6">
      <div class="row">
        <div class="content" >
          <div class="container-fluid">
            <div class="card card-stats">
              <div class="card-header" card-chart" data-background-color="blue">
                <%= f["tag"] %>
              </div>
              <div class="card-footer" align="right">
                <p> Email Sent </p>
                <h3 class="title" ><%= f["sent"] %>/<%= f["total"] %></h>
              </div>
              <div class="card-footer" align="right">
                <div class="stats">
                  <%= link_to "Send email", contents_path(context: f["tag"]), method: :get, class: "btn btn-primary" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
<div align="center">
  <%= will_paginate @page%>
</div>






















































































