<div class="col-sm-8">
<%= form_for @template do |f| %>
	<%= f.text_area :description %><br><br>
	<%= f.select :category, @signatures.pluck(:name) %> <br><br>           
  <%= f.submit "send" %>
<% end %>
</div>           

<div class="col-sm-4">
<% @contact.each do |contact| %>
	<%=contact.name  %>
	<%= contact.email %>
	<%= contact.company %>
<% end %>
</div>
  
