<div class="container">
<%= bootstrap_form_for @contact do |f| %>
  <%= f.text_field :name %>
  <%= f.text_field :email %>
  <%= f.text_field :company %>
  <%= f.text_field :tag_list,placeholder: 'Enter the conference name'%>
  <%= f.submit "Save" %>
<% end %>
</div>