<div class="container">
<%= bootstrap_form_for @contact do |f| %>
	<%= f.text_field :name %>
	<%= f.text_field :email %>
	<%= f.text_field :company %>
	<%= f.label :tag_list, "Tags (separated by commas)" %>
	<%= f.text_field :tag_list %>
	<%= f.submit "Save" %>
<% end %>
</div>
