<div class="container " style="max-width:350px;padding:40px 30px;background:#fff">
<div class="panel panel-default form-1">
<h2 align="center">Login</h2>
<div class="panel-body">
  
<%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    
    <%= f.email_field :email, autofocus: true ,:placeholder => "Your email here" %>
  </div>

  <div class="field">
    
    <%= f.password_field :password, autocomplete: "off",:placeholder => "Your password here" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Log in",class: "btn btn-success btn-block" %>
  </div>
<% end %>
</div>

<%= render "devise/shared/links" %>
</div>
</div>

