<!DOCTYPE html>
<html>
  <head>
    <title>Hola</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>



  <body>
    <nav class="navbar navbar-default">
    <div class="container-fluid">
      <ul class="navbar-brand" > <%= link_to "HOLA", dashboard_index_path %></ul>
        <ul class="navbar-right navbar-brand dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span style="font-size:1.0em;" class="glyphicon glyphicon-th-list"> </a>
          <ul class="dropdown-menu">
            <li><%= link_to "Add Email", new_signature_path %></li>
            <li><%= link_to "Add Contact", contacts_path %></li>                     
          </ul>
      </ul>
      </div>
    </nav>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
